<form method="post" action="{{ path('app_image_fetch_task_delete', {'id': image_fetch_task.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image_fetch_task.id) }}">
    <button class="btn btn-secondary">Delete</button>
</form>
