{% extends 'base.html.twig' %}

{% block title %}Edit ImageFetchTask{% endblock %}

{% block body %}
    <h1>Edit ImageFetchTask</h1>

    {{ include('image_fetch_task/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_image_fetch_task_index') }}">back to list</a>

    {{ include('image_fetch_task/_delete_form.html.twig') }}
{% endblock %}
