{% extends 'base.html.twig' %}

{% block title %}ImageFetchTask index{% endblock %}

{% block body %}
    <h1>ImageFetchTask index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Url</th>
                <th>Status</th>
                <th>Images count</th>
                <th>Total size</th>
                <th>Errors count</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image_fetch_task in image_fetch_tasks %}
            <tr>
                <td>{{ image_fetch_task.id }}</td>
                <td>{{ image_fetch_task.url }}</td>
                <td>{{ image_fetch_task.status }}</td>
                <td>{{ image_fetch_task.count }}</td>
                <td>{{ image_fetch_task.totalSize |number_format }}</td>
                <td>{{ image_fetch_task.errorCount }}</td>
                <td>
                    <a href="{{ path('app_image_fetch_task_show', {'id': image_fetch_task.id}) }}">show</a>
                    <div class="inline">{{ include('image_fetch_task/_delete_form.html.twig') }}</div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_image_fetch_task_new') }}">Create new</a>
{% endblock %}
