{% extends 'base.html.twig' %}

{% block title %}New ImageFetchTask{% endblock %}

{% block body %}
    <h1>Create new ImageFetchTask</h1>

    {{ include('image_fetch_task/_form.html.twig') }}

    <a href="{{ path('app_image_fetch_task_index') }}">back to list</a>
{% endblock %}
