{% extends 'base.html.twig' %}

{% block title %}ImageFetchTask{% endblock %}

{% block body %}
    <h1>ImageFetchTask</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Url</th>
                <td>{{ image_fetch_task.url }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ image_fetch_task.status }}</td>
            </tr>
            <tr>
                <th>Image count</th>
                <td>{{ image_fetch_task.count }}</td>
            </tr>
            <tr>
                <th>Total size</th>
                <td>{{ image_fetch_task.totalSize |number_format }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_image_fetch_task_index') }}">back to list</a>

    {{ include('image_fetch_task/_delete_form.html.twig') }}

    <div class="row">
    {% for path in image_fetch_task.data.images %}
        {% if loop.index0 % 4 == 3 %}
    </div>
    <div class="row">
        {% endif %}
        <div class="col"><img class="img-fluid" src="{{ image_fetch_task.url }}{{ path.path }}" alt=""></div>
    {% endfor %}
    </div>
{% endblock %}
